.hiber-table-headers {
  color: black;
}

th {
  background-color: #e5d0c6 !important;
  border-bottom: 0 !important;
  border-bottom: none !important;
}

.table > :not(:first-child) {
  border-top: 0;
}
