.table-header {
    background-color: #E4D0C5;
}

.belum-dikirim-style {
    background-color: #FFE5E4;
    color: red;
}

.sudah-dikirim-style {
    background-color: #BFF6B5;
    color: green;
}

.pengiriman-style {
    background-color: #FFE6B5;
    color: orange;
}