@import 'bootstrap';
@import './layout.css';
@import './table/index.css';
@import './login.css';
@import './transaction.css';
@import './delivery.css';
@import './cashier.css';
@import './purchaseOrder.css';

html, body, #app, #__next {
  width: 100%;
  height: 100%;
}
.pointer {
  cursor: pointer;
}
.selected-tab{
  background-color: #B17256 !important; 
  color: white !important;
}
.not-selected-tab{
  background-color: #E2A88B !important; 
  color: white !important;
}