.menunggu-persetujuan-style {
    background-color: #FFE6B5;
    color: orange;
}
.ditolak-style {
    background-color: #FFE5E4;
    color: red;
}
.disetujui-style {
    background-color: #BFF6B5;
    color: green;
}
.retur-style {
    background-color: #f6b5f6;
    color: rgb(128, 0, 117);
}
.selesai-style {
    background-color: #b5e9f6;
    color: rgb(0, 119, 128);
}